#root {
    height: 100vh;
    padding: 0 20px;
    
    background-color: rgb(250, 250, 250);
    font-family: 'Roboto', sans-serif;
}

form {
    text-align: center;
}

a {
    color: rgb(34, 34, 34);
}